/**
 * Variables
 **/
$color-primary   : #2980B9;
$color-text      : #34495e;
$color-link      : $color-primary;
$color-tag       : #B34700;
$color-bundle    : #00B874;
$font-size       : 15px;
$color-search-bg : #f7f7f7;
$input-border    : darken($color-search-bg, 15%);
$header-height   : 70px;
$border-width    : 2px;
$border-radius   : 5px;


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/src/inject/OpenSans-Regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  src: url('chrome-extension://__MSG_@@extension_id__/src/inject/OpenSans-Italic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/src/inject/OpenSans-Bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  font-style: italic;
  src: url('chrome-extension://__MSG_@@extension_id__/src/inject/OpenSans-Bolditalic-webfont.woff') format('woff');
}

$font-family: 'Open Sans', Helvetica, sans-serif !important;

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
	transition: all 120ms ease-in-out;
}

body {
	background-color: #fff;
	padding-top: ($header-height * 2) + 30;
	color: $color-text !important;
	font-size: $font-size !important;
}

body,
h1, h2, h3, h4, h5, h6,
.homepage_heading,
.homepage_subheading,
.blurb {
	font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold !important;
}
/**
 * Header
 */
#banner {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 0 50px !important;
	width: 100% !important;
	border-bottom: none !important;
	z-index: 999;
	margin-bottom: 0 !important;
	min-height: $header-height;
	line-height: $header-height;
	background-color: $color-primary !important;
	color: #fff !important;
}
#logo {
	width: auto !important;
	background: url('chrome-extension://__MSG_@@extension_id__/img/pinboard.svg') 0 center no-repeat;
	padding-left: 40px;
}
.pin_logo {
	display: none;
}
#timer {
	display: none;
}
#top_menu {
	margin-top: 0 !important;
	font-size: $font-size - 3;
	display: none !important;

	@media screen and (min-width: 900px) {
		display: block !important;
	}

	@media screen and (min-width: 1100px) {
		font-size: $font-size;
	}
}

/*#banner {
	margin: 0 auto;
}*/

/**
 * Links
 */
a,
a:link,
.small_username a:link,
.small_username a:visited {
	color: $color-primary !important;
}
a:visited {
	color: #AA68AC !important;
}
a:hover,
.small_username a:hover {
	color: darken($color-primary, 20%) !important;
}
a:active {

}

#top_menu a,
#pinboard_name,
#banner a.banner_username {
	color: #fff !important;

	&:hover {
		color: #ddd !important;
	}
}

a.url_display {
	color: #95a5a6 !important;
}

a.tag {
	color: $color-tag !important;
	background-color: lighten($color-tag, 55%) !important;
	display: inline;
	padding: 2px 4px;
	border-radius: 3px;
}
a.tag:hover {
	color: #fff !important;
	background-color: $color-tag !important;
}

a.bundle,
a.bundle:visited {
	white-space: nowrap;
	color: $color-bundle !important;
	background-color: lighten($color-bundle, 55%);
	padding: 2px 4px;
	border-radius: 3px;
	font-weight: normal !important;
}
a.bundle:hover {
	color: #fff !important;
	background-color: $color-bundle !important;
}

/**
 * Search
 */
#searchbox {
	position: absolute;
	top: $header-height;
	left: 0;
	right: 0;
	padding: 15px;
	min-height: $header-height;
	z-index: 999;
	background-color: $color-search-bg !important;
	border-radius: 3px;
	// color: #fff !important;
}
#searchbox form {
	max-width: 980px;
	margin: 0 auto;
	text-align: center;

	// &:before {
	// 	content: 'Search';
	// 	font-size: 18px;
	// 	margin-right: 15px;
	// 	position: relative;
	// 	top: 3px;
	// 	display: inline-block;
	// }
}

#search_query_field {
	vertical-align: top;
	width: 350px;
	font-size: 18px;
	height: 40px;
	padding: 5px 18px;
	border-radius: 40px;
	display: inline-block !important;
}
#searchbox br {
	display: none;
}
.search_button {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0 !important;

	input[type=submit] {
		margin-left: 15px;
	}

	form {
		display: inline-block !important;
		width: auto !important;
	}
	p {
		margin-bottom: 0 !important;
		margin-left: 15px;
	}

}


.pin-ac {
	.bd {
		width: 300px !important;
		margin-left: 30px !important;
		margin-top: 10px;
		text-align: left !important;
		border: none !important;
		box-shadow: none !important;

		&:before {
			content:'';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent $color-primary transparent;
			position: absolute;
			bottom: 100%;
			left: 15px;
		}

		ul {
			border: $border-width solid $color-primary !important;
			border-radius: $border-radius;
			overflow: hidden;
		}
	}

	.match {
		color: $color-primary !important;
	}
	.active {
		background-color: $color-primary !important;
		color: #fff !important;
	}
}

/**
 * Layout
 */
#content {
	width: 90% !important;
	max-width: none !important;
}
#content:after,
.bookmark:after {
	content:"";
	display:table;
	clear:both;
}
#main_column {
	width: 65% !important;
	margin-right: 5%;
}
#right_bar {
	width: 30% !important;
	margin-left: 0 !important;
}

/**
 * Bookmark list header
 */
.user_navbar {
	position: relative;
	background-color: $color-search-bg;
	padding: 10px 15px 15px;
	margin-bottom: 0 !important;
	border-radius: $border-radius $border-radius 0 0;

	div:nth-child(2) {
		display: block;
	}
}
.small_username {
	font-size: 25px !important;
	float: none !important;
	display: inline !important;
}
.bookmark_count_box {
	display: inline !important;
	float: none !important;
	width: 130px !important;
}
#nextprev {
	border-bottom: none !important;
	background-color: $color-search-bg;
	padding: 0px 15px 15px;
	border-radius: 0 0 $border-radius $border-radius;
}
a.rss_link {
	position: absolute;
	top: 15px;
	right: 15px;
	display: inline-block;
	padding: 3px 6px;
	color: #fff !important;
	background-color: orange;
	border-radius: 3px;
}


/**
 * Bookmarks
 */
.bookmark {
	width: 100% !important;
	padding: 10px !important;
	float: none !important;
	position: relative;
	margin-left: -10px !important;
	// margin-bottom: 0 !important;

	&:hover {
		/*background-color: #fff;*/
	}
}
.display {
	float: none !important;
}
.bookmark_title {
	font-size: 18px !important;
	font-weight: bold;
	padding-right: 50px;
	display: inline-block;
}
.description {
	margin-bottom: 7px;
}
.star {
	position: absolute;
	top: 10px;
	right: 10px;
	float: none !important;
	/*width: 30px;*/
	height: 30px;
	text-align: center;
	margin-left: 0 !important;
	font-size: 2em !important;
	line-height: 1;

	span {
		color: #fff;

		&:after {
			content: '\2606';
			color: #ddd;
		}
	}
}

.star:hover span:after,
.star.selected_star span:after {
	color: $color-primary !important;
}
.star.selected_star span:after {
	content: '\2605';
}
.edit_links {
	float: right;
}
a.url_display {
	margin-bottom: 4px;
	display: inline-block;
}

.bookmark_count {
	width: 50px !important;
}
.url_link {
	display: inline-block;
	padding: 2px 3px;
	border-radius: 3px;
}

/**
 * Sidebar
 */
#tag_cloud {
	width: 100% !important;
	float: none !important;
}
#tag_cloud,
#bundle_names {
	padding: 10px 15px;
	border-radius: $border-radius;
	border: 1px solid $color-search-bg;
	margin-bottom: 15px;

	&, p {
		margin-top: 0 !important;
	}
}
#bundle_names {
	color: #fff;

	p {
		font-size: 0;
		margin-bottom: 0 !important;

		a {
			font-size: $font-size;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
	br {
		display: none;
	}
}
#tag_cloud_header,
#bundle_names > p a:first-child,
#tag_cloud b {
	display: block;
	background-color: $color-search-bg;
	margin: -10px -15px 15px !important;
	padding: 10px 15px;
}
#tag_cloud_header {
	p {
		margin: 0 !important;
	}
}
.tag_heading_selected {
	display: block;
	margin-bottom: 5px;
}
#bundle_names > p a:first-child {
	line-height: 1;
}
#bundle_names > p a:first-child,
.tag_heading_selected {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 17px;
}
/**
 * Home page
 */
.homepage_heading,
.homepage_subheading,
.homepage li {
	color: $color-text !important;
}
.signup_button {
	width: auto !important;
	height: auto !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	box-shadow: none !important;
}
.blurb_box {
	padding: 15px;
	border-radius: $border-radius;
	height: auto !important;
	margin-bottom: 15px;
}
h1.magazine_title {
	color: $color-primary !important;
}
/**
 * Bundle page
 */
form[name=sort] {
	input[type=text] {
		padding: 5px;
		width: 45px !important;
		font-family: $font-family;
		font-size: 14px;
		text-align: center;
	}
}
input[type=text],
input[type=password],
textarea {
	font-family: $font-family;
	padding: 5px;
	border: $border-width solid $input-border !important;
	background-color: #fff;
	border-radius: $border-radius;
	vertical-align: top;
	font-size: 18px;
	background-color: #FFF;
	display: block;
	width: 100%;

	&:focus {
		outline: none;
		border-color: $color-primary !important;
		color: $color-primary;
	}
}
input[type=submit],
.signup_button {
	background-color: $color-link !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: $border-radius !important;
	height: 40px;
	line-height: 40px;
	border: none !important;
	padding: 0 15px;
	vertical-align: top;
	cursor: pointer;
	font-family: $font-family;
	font-size: 14px;

	&:hover {
		background-color: darken($color-primary, 20%) !important;
	}
}


.tabs {
	overflow: hidden;
	margin-bottom: -2px !important;
	max-height: 44px;
}
.tab {
	height: auto !important;
	border: none !important;
	margin-right: 5px;
	text-transform: capitalize;
	padding: 0px !important;
	width: auto !important;

	a {
		display: block;
		padding: 10px !important;
		border-radius: $border-radius $border-radius 0 0;
		border: $border-width solid transparent !important;
		overflow: hidden;

		&:hover {
			border-color: $input-border $input-border transparent $input-border !important;
		}
	}

}
.tab.tab_selected {
	background-color: #fff !important;

	a {
		background-color: #fff !important;
		border-color: $input-border $input-border #fff $input-border !important;
	}
}
.tab_spacer {
	display: none;
}
#tab_panes {
	border: $border-width solid $input-border !important;
	border-radius: 0 0 $border-radius $border-radius;
}
